services:
  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db    
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  test-db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test_db
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d test_db"]
      interval: 2s
      timeout: 2s
      retries: 30
    volumes:
      - pgdata-test:/var/lib/postgresql/data
  
  test-runner:
    build: .
    depends_on:
      - test-db
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:password@test-db:5432/test_db
    command: ["pytest", "-v", "app/tests/"]


volumes:
  pgdata:
  pgdata-test:
